@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.offcanvas-header {
  padding-bottom: 5px !important;
}
.offcanvas-body {
  padding-top: 0px !important;
}
.bgColor {
  background: rgba(221, 221, 221, 0.8) !important;
}

.slider .text-start {
  top: 50% !important;
  left: 35% !important;
}
.cours {
  background-color: #d6eef2;
}
.life {
  background-color: #e3f0d2;
}
.teach {
  background-color: #fbe7b2;
}
.coursecards img {
  width: 100%;
  height: 180px;
}
footer{
  background-color: #34495e;
}
.foo-link:hover{
  color: #e9e9e9 !important;
}
footer .list-group-item{
  border-bottom: 1px solid rgba(219, 219, 219, 0.3) !important;
}
footer ul li a:hover{
  color: #dfdfdf !important;
}


@media (min-width:386px) and (max-width:768px) {
  .slider h5{
    font-size: 12px;
    margin-bottom: 0;
  }
  .slider h3{
    font-size: 15px;
    margin-bottom: 0;
  }
  .slider p, ul li{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 15px;
  }
  .slider ul{
    margin-bottom: 0px !important;
  }
  .slider button{
    padding: 1px 5px;
    font-size: 14px;
  }
  .carousel-caption{
    width: 100% !important;
  }
  .slider .text-start {
    top: 40% !important;
    left: 60% !important;
  }
}