@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.offcanvas-header {
  padding-bottom: 5px !important;
}
.offcanvas-body {
  padding-top: 0px !important;
}
.bgColor {
  background: rgba(221, 221, 221, 0.8) !important;
}
.text-start {
  top: 50% !important;
  left: 35% !important;
}
.cours {
  background-color: #d6eef2;
}
.life {
  background-color: #e3f0d2;
}
.teach {
  background-color: #fbe7b2;
}
.coursecards img {
  width: 100%;
  height: 180px;
}
footer{
  background-color: #34495e;
}
.foo-link:hover{
  color: #e9e9e9 !important;
}
footer .list-group-item{
  border-bottom: 1px solid rgba(219, 219, 219, 0.3) !important;
}
footer ul li a:hover{
  color: #dfdfdf !important;
}